@media only screen and (min-width: 60em) {
    header img {
        width: 100%;
    }
    .headings {
        font-size: 3rem;
    }
    nav {
        display: block;
        margin: auto;
        padding: 10px
    }
    nav ul li {
        margin: 0 12px;
    }
    .sections #map {
        display: grid;
        grid-template-columns: auto;
    }
    .gallery {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .gallery figure:hover {
        box-shadow: 4px 4px 6px rgb(156, 171, 245);
    }
    .cards section {
        background-color: rgb(103, 247, 180);
        border: solid rgb(9, 155, 82) .25rem;
        box-shadow: 0 0 10px #333;
        margin: 1rem;
        background-color: rgb(173, 245, 217);
        grid-template-columns: 1fr;
        max-width: 340px;
    }

    .cards section img {
        max-width: 12rem;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-content: center;
    }
    
    .cards section:nth-child(even) img {
        grid-column: 1/6;
        grid-row: 1;
        align-items: center;
    }

    .cards section:nth-child(odd) img {
        grid-column: 1/6;
        grid-row: 1;
    }
    .cards section:nth-child(even) h2 {
        grid-column: 1/6;
    }
    .cards section:nth-child(odd) h2 {
        grid-column: 1/6;
    }
    averageRainfall {
        margin-bottom: 5rem;
    }
}