@media only screen and (min-width: 48em){
    nav{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+100,aa0000+100 */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 100%, #aa0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 100%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 100%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
    }
    header{
        grid-template-columns: 13% 1fr;
        grid-template-rows: 150px;
    }
    h1{
        font-size: 400%;
    }
    nav{
        height: 35px;    
    }
    #motto{
        font-size:150%;
    }
    #logo{
        position: relative;
        left: 50;
        right: 50;
    }
    #mapImg{
        max-width:30%;
    }
}