html{
    background-color: rgb(131, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
  background-color: rgb(129, 175, 83);
  text-align: center;
  font-family: serif;
  margin-bottom: 12px;
}
nav button{
    margin: 0.3em 2%;
    border: none;
    background-color: transparent;
    font-size: 1.7rem;
    color: blue;
    object-position: center;
    object-position: center;
}
nav{
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    list-style-type: none;
    padding: 0 auto;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: 0.9rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid;
}
nav ul li.active a{
    background-color: burlywood;
    margin: 0;
}
nav ul li a:hover{
    background-color: blueviolet;
}
nav ul.hide{
    display: none;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
main h2{
    background-color: cornsilk;
    text-align: center;
    content: icon auto;
    grid-template-rows: 1.5rem 1fr 1fr;
    display: block;
    font: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 12em;
}