@media only screen and (min-width: 60em) {
    header img {
        width: 100%;
    }

    .headings {
        font-size: 3rem;

    }

    nav {
        display: block;
        margin: auto;
        padding: 10px
    }

    nav ul li {
        margin: 0 12px;
    }

    .sections #map
        {
        display: grid;
        grid-template-columns: auto;
    }

    /*#contact {
        grid-template-rows: auto;
        max-width: 300px;
    }*/

    .gallery {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .gallery figure:hover {
        box-shadow: 4px 4px 6px rgb(57, 64, 97);
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin: auto;
        /*border: white solid 2rem;*/
        padding: 1rem;
        /*box-shadow: darkgrey 4px 4px 10px 10px;*/
    }
    
    #cards section {
        background-color:rgb(170, 184, 248);
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1;
        border: solid rgb(95, 114, 206) .25rem;
        box-shadow: 0 0 10 rgb(184, 131, 131);
        margin: 1rem;
        background-color: rgb(218, 97, 97);
    }
    
    section img {
        border: solid black 1px;
        margin:auto;
        max-width: 400px;
        max-height: 300px;
    }
